<div class="row">
  <div class="col-sm-12 mb-3">
    <h5 class="card-title mb-3">Donate</h5>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <b>Name: </b> Samson deo
          </div>
          <div class="col-md-4 mb-3">
            <b>Blood Group: </b> A+
          </div>
          <div class="col-md-4 mb-3">
            <b>Date: </b> 03-03-2021
          </div>
          <div class="col-md-4 mb-3">
            <b>Mobile: </b> 019288237325
          </div>
          <div class="col-md-4 mb-3">
            <b>Alternative Mobile: </b> 019288237325
          </div>
          <div class="col-md-4 mb-3">
            <b>Relation: </b> Other
          </div>
          <div class="col-md-4 mb-3">
            <b>Present Address: </b>
          </div>
          <div class="col-md-4 mb-3">
            163/5 siddique bazar, dhaka - 1000
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Donate</button>
        </div>
      </div>
    </div>

  </div>
</div>
