<div class="row">
  <div class="col-sm-12 mb-3">
    <h5 class="card-title mb-3">Donate</h5>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <b>Blood Group: </b> A+
          </div>
          <div class="col-md-4 mb-3">
            <b>Date: </b> 03-03-2021
          </div>
          <div class="col-md-4 mb-3">
            <b>Mobile: </b> 019288237325
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">Full Name</strong>
                <a href="#" style="color: rgb(20, 220, 137);">Prority</a>
              </div>
              <span class="d-block">@username</span>
            </div>

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">Full Name</strong>
                <a href="#" style="color: crimson;">Cancle</a>
              </div>
              <span class="d-block">@username</span>
            </div>

            <div class="pb-3 mb-0 small lh-sm ">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">Full Name</strong>
                <a href="#" style="color: crimson;">Cancle</a>
              </div>
              <span class="d-block">@username</span>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
